@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: 'Inter';
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-weight: 400;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #1E3050 !important;
    padding: 10px;
}

a:hover {
    background: rgb(226, 226, 226);
    border-radius: 20px;
    transition: .14s ease-in;
}

header {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

nav {
    display: flex;
    /* padding: 1rem 80% 1rem 0; */
    padding: 20px 50px;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    gap: 0 50px;
}

/* carrito */
#carrito {
    height: auto;
    width: 50px;
}


.img__carrito {
    width: 100px !important;
    height: auto;
}

.contenedor__carrito {
    width: auto;
}

#lista-carrito>thead>tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
}

th:first-child,
td:first-child {
    padding-left: 10px;
}

#producto__title {
    font-size: small;
    width: 0px;
}

tbody>tr {
    padding: 50px 10px;
    border-bottom: 1px solid #c5c5c5c4;
}

tr>th {
    padding: 0 20px;
}

tr>td {
    padding: 0 30px;
}

.borrar-curso {
    margin-left: 10px;
}

.home {
    margin: auto 200px;
    background-color: #fff;
}

.home__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 100px 0;
}


#home__title {
    font-size: 5rem;
}

#home__presentation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100% !important;
    gap: 1rem;
}

#home__presentation-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: column;
    width: 500px;
}

.home__presentation-text>h2 {
    margin-bottom: 20px;
}

.home__presentation-text>p {
    width: 500px;
    font-size: small;
    line-height: 30px;
}

#img__remera {
    height: auto;
    width: 300px;
}


.button__home {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button__home span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button__home span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button__home:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button__home:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button__home:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#tendencia {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

.tendencia__card {
    margin: 100px 0;
}

#tendencia__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    align-items: center;
    justify-items: center;
    max-width: 100vw;
    height: auto;
}

#first {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

#second {
    grid-area: 1 / 2 / 2 / 3;
}

#third {
    grid-area: 2 / 2 / 3 / 3;
}

#first>img {
    width: 350px;
    height: auto;
}

#first>p {
    width: 90%;
}



.tendencia__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: auto;
}

.tendencia__card>img {
    width: auto;
    height: 400px;
}



.container>h2 {
    margin-top: 100px;
    text-align: center;
}

.title {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 2.5rem;
}


.contenedor__card {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;

}

.cards {}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 260px;
    height: auto;
}

.card__title {
    font-weight: bold;
}

.card__info {
    text-align: justify;
    font-size: .8rem;
}

.card>img {
    width: 100%;
    height: auto;
}

#container__photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 100px 0;
    gap: 20px
}

#img_producto1 {
    top: 0px;
    left: -100px;
}

#img_producto2 {
    bottom: 0px;
    right: -80px;

}

.img_womanStreet {
    width: auto;
    height: 50vh;
}

#multimedia__contenedor {
    display: flex;
    flex-flow: row nowrap;
}

.multimedia__text {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 50px;
}

.multimedia__text>h2 {
    padding: 0 0 100px 0;
}

.multimedia__text>p {
    text-align: justify;

}

#review {
    margin: 100px 0;
}

#contenedor__review {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}



.card__container {
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    gap: 10px;
}

.card__container>h4 {
    font-weight: bold;
}

.card__container>p {
    font-size: small;
}

.img__review {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

#formulario {
    display: flex;
    margin: 100px 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#formulario__contenedor {
    max-width: 700px;
}

fieldset {
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-color: rgb(224, 224, 224);
}

textarea {
    resize: none;
}

fieldset>p {
    display: flex;
    flex-flow: column;
}

.input {
    width: auto;
    height: 30px;
}

.input__text {
    border: 0;
    border-bottom: 2px solid rgb(126, 126, 126);
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000000;
}

.input__text::placeholder {
    color: #646464;
}

footer {
    background-color: #4b4b4b;
    color: white;
    padding: 100px;
}

.footer__contenedor {
    display: flex;
    justify-content: space-between;
}

.footer__links-redes {
    display: flex;
    flex-flow: row nowrap;
}

.footer__text {
    width: 400px;
    height: auto;
    text-align: justify;
}


.button-buy {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-top: 10px;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-buy:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-buy:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-buy:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-buy:focus {
    outline: 1px transparent;
}

.button-buy:before {
    display: none;
}

.button-buy:-webkit-details-marker {
    display: none;
}

/* responsive notebook */

@media (min-width:762px) and (max-width: 1600px) {
    nav {
        padding: 10px 0;
    }

    #home__presentation {
        gap: 9rem;
    }

    .home__img {
        padding: 60px 0;
    }

    .tendencia__card {
        width: 400px;
        padding: 10px 0;
        gap: 30px;
    }

    #tendencia__container {
        display: grid;
        column-gap: 50px;
        row-gap: 10px;
    }

    #first>img {
        width: 250px;
    }

    #first>p {
        width: 300px;
    }

    #third {
        display: flex;
        flex-direction: row-reverse;
    }

    .tendencia__card>p {
        width: 300px;
    }

    .tendencia__card>img {
        width: 200px;
        height: auto;
    }

    .tendencia__card>p {
        text-align: center;
        font-size: small;
    }

    .contenedor__card {
        gap: 50px 100px
    }

    .card {
        max-width: 300px;
    }

    .card__info {
        font-size: small;
    }

    .footer__text>p {
        font-size: small;
        width: 80%;
    }
}

@media (min-width:362px) and (max-width: 762px) {

    .home {
        width: 100%;
        margin: 30px 20px;
    }

    #home__title {
        font-size: 4rem;
    }

    #home__presentation {
        display: flex;
        flex-flow: column;
    }

    #home__presentation-text>p {
        width: 400px;
    }

    .tendencia__card {
        margin: 30px 0;
    }

    .tendencia__card>p {
        text-align: center;
    }

    #tendencia__container {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    #first>img {
        width: 200px;
    }

    .tendencia__card>img {
        width: 200px;
        height: auto;
    }

    #grid__template {
        max-width: 400px;
        padding: 20px;
    }

    .contenedor__card {
        display: flex;
        flex-wrap: wrap;
    }

    .cards {
        width: 420px;
        height: auto;
    }

    .img_womanStreet {
        width: auto;
        height: 250px;
    }

    .container>h2 {
        font-size: xx-large;
    }

    #multimedia {
        display: flex;
        flex-flow: column;

    }

    #multimedia__contenedor {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    #multimedia__contenedor>iframe {
        width: 350px;
        height: auto;
    }

    #review {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    #contenedor__review {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: auto;
    }

    .card__review {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #formulario {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #formulario__contenedor {
        width: 300px;
    }

    .formulario {
        width: 300px !important;
        display: flex;
        flex-flow: column nowrap;
    }

    .footer__contenedor {
        flex-direction: column;
    }

    footer {
        padding: 50px 20px;
    }

    .footer__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .footer__links-redes {
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer_maps>iframe {
        width: 350px;
        height: auto;
    }

    fieldset>p {
        width: 250px;
    }
}